.search-container {
  margin: 20px;
  margin-bottom: 20px;
}

.search-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.restaurant-list {
  margin-top: 20px;
}

.restaurant-list ul {
  list-style: none;
  padding: 0;
}

.restaurant-list li {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.restaurant-list li:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.restaurant-list img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.container {
  animation: fadeIn 1s ease-in-out;
}

.card {
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
